
<app-todo></app-todo>
<div class="mb-3">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <fieldset>
            <label for="task" class="form-label">Tache à ajouter</label>
            <input type="text" id="task" class="form-control" [formControl]="title" />
        </fieldset>
        <fieldset>
            <label for="des" class="form-label">Description</label>
            <input type="text" id="des" class="form-control" [formControl]="description"/>
        </fieldset>
        <button class="btn btn-primary">Ajouter</button>
    </form>

</div>